* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding: 80px;
}
nav {
    margin-bottom: 30px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.navbar-logo {
    background-color: #EEEEEE;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    border-bottom: 1px solid #DDDDDD;
    height: 42px;
}
.logo { 
    display: inline-block;
}
.logo h1 {
    font-size: 18px;
    font-weight: 400;
    cursor: pointer; 
    margin: 10px 0px 0px 10px;
    padding: 0;
  }
.nav-top {
    position: absolute;
    top: 10px;
    right: 10px;
}
.links {
    font-size: 18px;
    padding: 0 6px;
}
.search input {
    font-size: 16px;
    width: 400px;
    height: 30px;
    font-weight: 500;
    padding: 0px 5px 0 10px;
}
.search .search-input, 
.search .search-button {
  display: inline-block;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}
h2 {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}
.search .search-button {
    width: 35px;
    height: 30px;
    padding: 2px 6px 3px 6px;
    vertical-align: bottom;
}
.search {
    margin-bottom: 30px;
    margin-top: -10px;
}
.pages {
    display: inline-block;
    font-size: 0px;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    margin-bottom: 15px;
}
.page-show {
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    color: black;
}
.change-page, .page-show {
    font-size: 16px;
    display: inline-block;
    padding: 8px 25px;
}
.change-page:visited {
    text-decoration: none;
}
li {
    list-style: none;
    font-size: 16px;
    margin-left: -48px;
    padding-top: 16px;
}
span {
    color: #999;
}
.listing-date {
    padding: 0px 8px;
}
.job-link {
    font-weight: 800;
    padding-right: 7px;
}